h2> Score Board </h2> <br> 

<strong> Region: </strong> <%= @employee.region %> <br> <br>
<strong> Name: </strong> <%= @employee.name %> <br> <br>
<strong> Job Title: </strong> <%= @employee.position %> <br><br> 

<br>
================================================================================================
