<%= render 'layouts/links' %>

<h2> Employee List </h2>

<ol>
<% @employees.each do |employee| %> 
<li> Name:  <%= link_to employee.name, employee_path(employee) %>  <br> 
Region:  <%= employee.region %>  <br> 
Job Tilte:  <%= employee.position %> </li> <br> 

<% end %>
</ol>

