%>  <%= render 'layouts/product_links' %>  / <%= link_to "Edit Product", edit_product_path(@product) <br> <br>

<h2> Edit Your Product: </h2>

<%= form_for @product, :method => :put do |f| %>

  <%= render 'form' %>

  <% end %> <br>