<%= render 'layouts/links' %>

<h2> Product List </h2>
<ol>
<% @products.each do|product| %> 
  <li> Product Name: <%= link_to product.name, product_path(product) %> <br></li>
        product Description: <%= product.description %> <br> <br></li>
<% end %>
</ol>
<br>
<br>