
<%= render 'layouts/product_links' %>  /  <br> <br>

<h2> Product information </h2> <br>

  <strong> Product Name: </strong> <%= @product.name %> <br> <br>
    <strong> Product Description: </strong> <%= @product.description %> <br> <br>
    <%= link_to 'Edit Product', edit_product_path(@product) %>  /
      <br> <br>
 

  
 