<%= link_to 'Main_Menu', root_path %>  * 
<%= link_to 'Employee Account', employee_path %> *

<%= render 'layouts/links' %>
<br>
<h2> Edit Sales </h2>
<br>
<% if current_employee %>

 <%= render 'form' %>

    
<% end %>

  