
<h5><%= render 'layouts/sales_links' %> </h5> <br> <br>
<br>
<h2> Edit Sales </h2>
<br>
<%= render 'layouts/errors', :target => @sales %> <br>

<% if current_employee %>
  <%= form_for @sales, :method => :put do |f| %>
    
    <%= render 'form' %>

  <% end %> <br>
<% end %>


<br> <br> <br>