<nav class="navbar navbar-light bg-light">
  <strong> Product Links: </strong> <br>

    <% if current_employee %>

      <%= link_to 'Product List', products_path %>  /
        <%= link_to 'Create Product', new_product_path %>  
     
    <% end %>

</nav>