<nav class="navbar navbar-light bg-light">
<strong> Sale Links: </strong> <br>

<% if current_employee %>

<%= link_to 'Sales Report', sales_path %>  /
<%= link_to 'New Sale', new_employee_sale_path(current_employee) %> 
<br> <br> 

<% end %>

</nav>