
<nav class="navbar navbar-light bg-light">

 <h5> Sale Links: </h5> <br> <br>

<

<%= link_to 'Sales Report', sales_path %>  /
<%= link_to 'New Sale', new_employee_sale_path(current_employee) %> 
<br> <br> 

</h5>
</nav>